.terms-of-use-wrapper {
    padding: 1rem;
    .heading {
        padding: 11px;
        margin: 0 20%;
        background-color: #FF9D42;
        border-radius: 25px;
        text-align: center;
        font-size: 18px;
        color: #000000;
        font-weight: 500;
    }
    .content {
        padding: 1rem;
    }
}