<app-header></app-header>
<div class="terms-of-use-wrapper">
    <div class="heading orange-font">Terms Of Use</div>
    <div class="content mt-3 mb-5">
        <p>
            Welcome to Sportbuzz. By going by our website you're concurring to be bound by the taking after terms and conditions. It would be ideal if you perused these terms and conditions some time recently utilizing, or submitting substance in any frame or medium
            for distribution on, sportsbuzz.com. We may alter these terms and conditions at any time. Your presumed utilisation of sportsbuzz.com infers merely acknowledge any modern or altered terms and conditions that we come up with. It would be ideal
            if you re-visit the 'Terms of Use' connection at our website from time to time to remain overhauled with any changes that we may present.
        </p>
        <p>
            You may browse sportsbuzz.com without enrolling for an account. In order to post any User Content or get to certain highlights of the site, be that as it may, you must enrol for an account with Sportsbuzz (which may incorporate interfacing to sportsbuzz.com
            through a third-party benefit) and select a password.
        </p>
        <p>
            Sportsbuzz reserves the right to deny enrollment of, or cancel an User ID or a User account at its sole tact. By enrolling, you certify that all data you give, presently or within the future, is exact.
        </p>
        <p>
            You're capable of keeping up the secrecy of your Sportsbuzz password. By interfacing to sportsbuzz.com with a third-party benefit like Facebook, you deliver us consent to get to and utilise your data from that benefit as allowed by that benefit, and to
            store your log-in qualifications for that service. ​ You are exclusively mindful of the action that happens on or through your account, and you must keep your account secret word secure. You must inform Sportsbuzz instantly of any breach of
            security or unauthorised utilization of your account. Sportsbuzz will not be obligated for your losses caused by any unauthorized use of your account, and you should be exclusively at risk for the misfortunes of Sportsbuzz or others due to
            such unauthorised use.
        </p>
        <label><b>The Content -</b></label>
        <p>
            You give us a non-exclusive, perpetual, irrevocable, royalty-free, transferable, sub-licensable, worldwide permit to utilize, duplicate, sell, offer to sell, interpret, alter, freely perform, freely show, convey, and make derivative works of your User
            Content on sportsbuzz.com and in all forms and media presently or from now on known for the purposes of working sportsbuzz.com. Nothing in this Understanding might confine Sportsbuzz's rights under partitioned licenses to User Content.
        </p>
        <label><b>Liabilities -</b></label>
        <p>
            The substance, data, software, products, features and services distributed on this site may include inaccuracies or typographical errors. Changes are intermittently included to the content in this. Sportsbuzz.com and/or its particular providers may make
            changes and/or changes to this site at any time. This site may be briefly inaccessible from time to time due to required support, telecommunications interruptions, or other disturbances. Sportsbuzz (and its proprietors, providers, experts,
            promoters, associates, accomplices, workers or any other associated entities, all collectively alluded to as 'Associated Entities' hereafter) should not be at risk to any client of part or any third party ought to sportsbuzz.com work out its
            right to adjust or suspend any or all of the substance, data, software, items, highlights and administrations distributed on this site.
        </p>
    </div>
</div>