<app-header></app-header>
<div class="privacy-policy-wrapper">
    <div class="heading orange-font">Privacy Policy</div>
    <div class="content mt-3 mb-5">
        <p>
            At SportsBuzz, we are committed seriously and purely towards protecting our rights to privacy, and all the content we upload is a work of art, with general norms of IP eligible, to secure our personal information. We yearn and encourage you to thoroughly
            go through our privacy policy once, to help you make a sound decision.
        </p>
        <p>Sportsbuzz has the right to revise its privacy arrangement to suit the website and to educate you about the overhauled controls at the most punctual conceivable time. Sportsbuzz as it is, only collects the vital actually identifiable data in order
            to reply to your demands for our customised items and administrations. We do not fetch out any personal information unless you specifically and knowingly feed in yourself.</p>
        <p>
            Sportsbuzz may unveil by and by identifiable data in case required to do so by law or within the good-faith conviction that such activity is vital to (i) accommodate to the proclamations of the law or comply with lawful prepare served on the location
            or its proprietors; (ii) ensure and protect the rights or property of the location proprietors, the location or the clients of sportsbuzz.com, and (iii) act beneath urgent circumstances to ensure the individual security of clients of sportsbuzz.com,
            the location, its proprietors, or the open.
        </p>
        <label><b>Apprise and alert us -</b></label>
        <p>On the off chance that, at any time you accept that sportsbuzz.com or its users/members have not followed these standards and code of conduct, if it's not too much trouble inform us by mail at contact@sportskeeda.com and we are going utilise all
            commercially sensible endeavours to instantly decide and redress the issue.</p>
        <p><b>Disclaimer :</b> We intend to pose no harm or plagiarism over the content and images. Any similarity, whatsoever, is purely coincidental.</p>
    </div>
</div>