<app-header></app-header>
<div class="ethics-policy-wrapper">
    <div class="heading orange-font">Ethics Policy</div>
    <div class="content mt-3 mb-5">
        <p>
            Each word in each Sportsbuzz article must be factually accurate up to 100%. Care must be taken to guarantee that no portion of any story is mis-stated, misjudged or otherwise distorted in such a way that it influences the translation of the content. Names,
            numerical figures, dates and other comparative data must continuously be duplicated to the letter, with no room for control of any kind.
        </p>
        <p>
            For news obtained solely by a Sportsbuzz writer, the same must be clearly unveiled with a state such as ‘as uncovered to Sportsbuzz’ or ‘in an elite meet with Sportsbuzz’. For news obtained from an auxiliary source, the site that initially detailed the
            story must fundamentally be hyperlinked over the important content. In case of news sourced from a distribution that doesn’t have a web nearness, the name of the distribution must be specified as the source.
        </p>
        <p>
            An article can be distributed on Sportsbuzz only after an exhaustive editorial review process. The audit must be carried out by the dedicated editorial team, checking for real precision, dialect, visual helps, outside inserts and any other significant
            perspective.
        </p>
        <p>
            Sportsbuzz looks to guarantee that all mistakes in its substance are redressed rapidly and with full divulgence. Sportsbuzz too welcomes its pursuers to inform the publication group for any blunders they spot in any of the articles.
        </p>
        <p>
            Any article that encompasses a typo, spelling or grammatical error, might be upgraded by a part of the staff. There's no necessity to include an adjustment note in such cases; the article would contain a line at the beat saying it was adjusted at the
            specific date and time. ​ If a piece features a material error with regard to any of the truths, numbers or cites said in that, the rectification should be done by a part of the staff taken after by the expansion of a rectification note at
            the conclusion of the article. The redress note ought to be examined hence: “An earlier version of the article incorrectly expressed that ___. The same has been corrected on particular time and date.”
        </p>
        <p>
            All of Sportsbuzz’s social media handles (Facebook, Twitter, Instagram, Snapchat) must fundamentally follow the company’s policies and content rules. No social media post by Sportsbuzz should contain data or visuals that are in any way wrong, unseemly
            or something else objectionable. Sportsbuzz is against click-bait of any kind. Any distributed post regarded as such will be taken down instantly.
        </p>
    </div>
</div>