<app-header></app-header>
<div class="fact-checking-policy-wrapper">
    <div class="heading orange-font">Fact Checking Policy</div>
    <div class="content mt-3 mb-5">
        <p>
            All Sportsbuzz journalists and writers must be precise with their content, inclusive of but not constrained to text, pictures, titles and URLs. Each piece of data in each Sportsbuzz article ought to essentially be 100% genuine, and must be sponsored by
            confirmed sources. ​ The writers and editors get the power of words as well as visuals, and take it as their obligation to preserve error-free duplicates at all times.
        </p>
        <p>
            Sportsbuzz’s articles go through a fact-checking preparation before, with the editors exercising their judgement on the degree of examination to be carried out.Journalists as well as editors are anticipated to take after the morals arrangement whereas
            dispersing any reality or data in an article.
        </p>
    </div>
</div>